.maindiv {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #FFFFFF;
}

#starting {
    background-color: #FFFFFF;
}

#running {
    background-color: #d2be0e;
}


#finished {
    background-color: #FFFFFF;
}


#owner {
    width: 1%;
    white-space: nowrap;
}


#searchname {
    white-space: nowrap;
}


#status {
    width: 1%;
    white-space: nowrap;
}

