include ../components/InputElements.jade

style(type='text/css').
        .selectpicker {
                font-size: 15px !important;
        }
.container#createbody
                    form(id="dataform", name="dataform").form
                        if fields
                                each row, i in fields
                                        fieldset.form-group.floating-label-form-group
                                                - var step_count = i / 3
                                                - var start_point = step_count * 3
                                                - var stop_point = (step_count + 1) * 3
                                                - var row = input
                                                if (i == start_point)
                                                                - var row1 = fields[i]
                                                                - var row2 = fields[i+1]
                                                                - var row3 = fields[i+2]
                                                                .row
                                                                        .col-md-4.form-group.floating-label-form-group
                                                                                +Input(row1)
                                                                        .col-md-4.form-group.floating-label-form-group
                                                                                +Input(row2)
                                                                        .col-md-4.form-group.floating-label-form-group
                                                                                +Input(row3)                                                                                                                                
                                                                - var start_point = 10000                                        
                    button.btn.btn-success.btn-lg.btn-block(type='button', onClick='runFunction("#{submit_to_module}","#{submit_to_action}","Create","#{doafter}","modal-lg");')
                           i.fa.fa-check-circle
                           |   Run


        
script.

    $('.selectpicker').selectpicker({
        
    });

    $('.dates').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        maxYear: parseInt(moment().format('YYYY'),10),
        buttonClasses: "btn btn-md",
        locale: {
                        format: 'DD/MM/YYYY'
                }        
    });    

       
