include ../components/InputElements.jade
.row
  .col-xs-12
    .card
      if result == "error"
        .card-header
          h4.card-title Access denied , contact your administrator !
      else 

        .card-body.collapse.in
              .row
                .col-md-6
                    - var url = "executeModalQuery('module=crud&action=getcreatemodel&obj=" + cur_obj + "','RUN')"
                    +Button(url,"RELOAD","green","fa fa-reload")
                .col-md-6.text-md-right

          .card-block.card-dashboard
            .row
              .col-md-12.text-md-left
                h3 Request
                  pre#requestViewer(style="margin: 10px")
                    !{corerequestjson}
            .row
              .col-md-12.text-md-left
                h3 Response
                  pre#responseViewer(style="margin: 10px")
                    !{coreresponsejson}                


script.
    requestViewer = ace.edit("requestViewer");    
    requestViewer.setTheme("ace/theme/tomorrow");
    requestViewer.session.setMode("ace/mode/json");
    requestViewer.setOption("maxLines", 50);
    requestViewer.setOption("minLines", 10);
    requestViewer.setOption("autoScrollEditorIntoView",true);
    document.getElementById('requestViewer').style.fontSize='12px';  

    responseViewer = ace.edit("responseViewer");    
    responseViewer.setTheme("ace/theme/tomorrow");
    responseViewer.session.setMode("ace/mode/json");
    responseViewer.setOption("maxLines", 50);
    responseViewer.setOption("minLines", 10);
    responseViewer.setOption("autoScrollEditorIntoView",true);
    document.getElementById('responseViewer').style.fontSize='12px';                    
                