a.dropdown-toggle.nav-link.dropdown-user-link(href='#', data-toggle='dropdown' style="margin:7px 0 0 0;")
    span.user-name #{user}
.dropdown-menu.dropdown-menu-right
    a.dropdown-item(href='#' data-toggle="modal" data-keyboard="false" data-target="#keyboard" onClick="executeModalQuery('/monitor/engine?action=userpassword', 'Change Password');")
      i.ft-user
      |  Change Password
    a.dropdown-item(href='#' data-toggle="modal" data-keyboard="false" data-target="#keyboard" onClick="executeModalQuery('/monitor/engine?action=viewlicense', 'License Info');")
      i.ft-unlock
      |  License
    .dropdown-divider
    a.dropdown-item(href='#' onClick="window.open('engine?module=accounts&action=deauth&domain=#{domain}','_self');")
      i.ft-power
      |  Logout
