link(rel='stylesheet', type='text/css', href='assets/css/bootstrap.css')
link(rel='stylesheet', type='text/css', href='css/jquery.dm-uploader.css')
link(rel='stylesheet', type='text/css', href='css/bootstrap/bootstrap-select.css')
link(rel='stylesheet', type='text/css', href='css/bootstrap/datepicker/bootstrap-datepicker3.min.css')
link(rel='stylesheet', type='text/css', href='assets/fonts/feather/style.min.css')
link(rel='stylesheet', type='text/css', href='assets/fonts/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', type='text/css', href='assets/fonts/flag-icon-css/css/flag-icon.min.css')
link(rel='stylesheet', type='text/css', href='assets/vendors/css/extensions/pace.css')
link(rel='stylesheet', type='text/css', href='assets/vendors/css/extensions/unslider.css')
link(rel='stylesheet', type='text/css', href='assets/vendors/css/charts/jquery-jvectormap-2.0.3.css')
link(rel='stylesheet', type='text/css', href='assets/vendors/css/charts/morris.css')
link(rel='stylesheet', type='text/css', href='assets/vendors/css/weather-icons/climacons.min.css')
link(rel='stylesheet', type='text/css', href='assets/css/bootstrap-extended.css')
link(rel='stylesheet', type='text/css', href='assets/css/app.css')
link(rel='stylesheet', type='text/css', href='assets/css/colors.css')
link(rel='stylesheet', type='text/css', href='assets/css/core/menu/menu-types/vertical-menu.css')
link(rel='stylesheet', type='text/css', href='assets/css/core/menu/menu-types/vertical-overlay-menu.css')
link(rel='stylesheet', type='text/css', href='assets/vendors/css/extensions/sweetalert.css')
link(rel='stylesheet', type='text/css', href='assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css')
link(rel='stylesheet', type='text/css', href='assets/css/plugins/forms/wizard.css')
link(rel='stylesheet', type='text/css', href='assets/css/plugins/pickers/daterange/daterange.css')
link(rel='stylesheet', type='text/css', href='assets/css/core/colors/palette-gradient.css')
link(rel='stylesheet', type='text/css', href='assets/css/pages/timeline.css')
link(rel='stylesheet', type='text/css', href='assets/vendors/css/pickers/daterange/daterangepicker.css')
link(rel='stylesheet', type='text/css', href='assets/css/core/colors/palette-climacon.css')
link(rel='stylesheet', type='text/css', href='assets/fonts/simple-line-icons/style.min.css')
link(rel='stylesheet', type='text/css', href='jstree/themes/default/style.min.css')
