doctype html
html.loading(lang='en', data-textdirection='ltr')
  head
        include headers.jade
        style(type='text/css').
          .loader {
            border: 16px solid #f3f3f3; 
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            animation: spin 2s linear infinite;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;         
          }

          @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
          } 

        

  body.vertical-layout.vertical-menu.2-columns.fixed-navbar(data-open='click', data-menu='vertical-menu', data-col='2-columns')
    include modal.jade
    nav.header-navbar.navbar.navbar-with-menu.navbar-fixed-top.navbar-light.navbar-border
      .navbar-wrapper
        .navbar-header
          ul.nav.navbar-nav
            li.nav-item.mobile-menu.hidden-md-up.float-xs-left
              a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
                i.ft-menu.font-large-1
            li.nav-item
              a.navbar-brand(href='index.html')
                img.brand-logo(alt='logo', src='images/logos/logo_mini.svg')
                h2.brand-text
            li.nav-item.hidden-md-up.float-xs-right
              a.nav-link.open-navbar-container(data-toggle='collapse', data-target='#navbar-mobile')
                i.fa.fa-ellipsis-v
        .navbar-container.content.container-fluid
          #navbar-mobile.collapse.navbar-toggleable-sm
            ul.nav.navbar-nav
              li.nav-item.hidden-sm-down
                a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
                  i.ft-menu
              li.nav-item.hidden-sm-down
                a.nav-link.nav-link-expand(href='#')
                  i.ficon.ft-maximize
            include rightsidemenu.jade
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    include menu.jade


          

    .app-content.content.container-fluid
       .content-wrapper
        .content-header.row
          .content-body#netondocontentbody
          

          

  include scripts.jade
  include scripts/loadMenuQuery.jade
  include scripts/loadContainerQuery.jade    
  include scripts/custom_scripts.jade
  
                
            

  script(type='text/javascript').
    $(function () {

          var custom_object = '#{default_object_to_load}';
          var custom_module = '#{default_module_to_load}';
          var custom_action = '#{default_action_to_load}';

           //document.getElementById('dashboard_button').click(); 

           if (custom_object !== undefined && custom_object !== null && custom_object != '') {
             loadContainerQuery('crud','read','#netondocontentbody','obj=' + custom_object);
           } else {
             if (custom_action !== undefined && custom_action !== null && custom_action != '') {
                if (custom_module == undefined || custom_module == null || custom_module == '') {
                      custom_module = "crud";
                }

                loadContainerQuery(custom_module,custom_action,'#netondocontentbody','');
             } else {
                loadContainerQuery('crud','dashboard','#netondocontentbody','');
             }
           } 
           

    });


          