#netondomodal.modal.fade.text-xs-center(tabindex='-1', role='dialog', aria-labelledby='myModalLabel3', aria-hidden='true')    
    .modal-dialog.modal-xl(role='document')
        .modal-content
            .modal-header.text-xs-left.bg-success 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#netondomodaltitle.modal-title 
            .modal-body.text-xs-left
            .modal-footer
                button.btn.grey.btn-outline-secondary(type='button', data-dismiss='modal') Close
