doctype html
html.loading(lang='en', data-textdirection='ltr')
  head
    include headers.jade
  body.vertical-layout.vertical-menu.1-column.bg-white.fixed-navbar(data-open='click', data-menu='vertical-menu', data-col='1-column')
    .app-content.content.container-fluid
      .content-wrapper
        .content-header
        .content-body
          section.flexbox-container
           .col-md-4.offset-md-4.col-xs-10.offset-xs-1.box-shadow-2.p-0
            .card.border-grey.border-lighten-3.m-0
              .card-header.no-border
                .card-title.text-xs-center
                    img.brand-logo(alt='Logo', src='images/logos/logo.png')
                h6.card-subtitle.line-on-side.text-muted.text-xs-center.font-medium-4.pt-3
                    span Sign-up page 
              .card-body.collapse.in
                .card-block
                  if autherror
                    h4.danger.darken-2.text-xs-center.danger #{autherror}
                  .row
                    .col-md-12
                      form.form-horizontal(action="engine" method="post" name="login" novalidate)
                        input(type="hidden" name="module" value="accounts")
                        input(type="hidden" name="action" value="signup")
                        input(type="hidden" name="domain_token" value="#{domain_token}")
                        fieldset.form-group.position-relative.has-icon-left
                          input#user-name.form-control.input-lg(type='text',name="username"  placeholder='Your Username', tabindex='1', required='', data-validation-required-message='Please enter your username.')
                          .form-control-position
                            i.ft-user
                          .help-block.font-small-3
                        fieldset.form-group.position-relative.has-icon-left
                          input#user-password.form-control.input-lg(type='password', name="password" placeholder='Password', tabindex='2', required='', data-validation-required-message='Please enter valid password.')
                          .form-control-position
                            i.fa.fa-key
                          .help-block.font-small-3
                        fieldset.form-group.position-relative.has-icon-left
                          input#user-password.form-control.input-lg(type='password', name="conf_password" placeholder='Confirm Password', tabindex='2', required='', data-validation-required-message='Please enter valid password')
                          .form-control-position
                            i.fa.fa-key
                          .help-block.font-small-3
                  .row
                    .col-md-12
                      .row
                        .col-md-2
                        .col-md-8
                          button.btn.btn-success.btn-block.btn-lg(type='submit')
                              i.ft-user
                              |  Sign up
                        .col-md-2
                  .row        
                    .col-md-12.text-md-center.align-middle.text-warning
                        br
                        a.blue.darken-4(href="#{api_url}?module=accounts&action=signinpage&domain=#{domain}")
                          i.ft-unlock
                          |  Sign in
              .card-footer.no-border
include scripts.jade
