doctype html
html.loading(lang='en', data-textdirection='ltr')
  head
    include ../../headers_meta.jade
    if extension == 'db'
      link(rel='icon', type='image/png', sizes='32x32', href='/images/icons/codeeditor/fa_database.png')
    else if extension == 'view'
      link(rel='icon', type='image/png', sizes='32x32', href='/images/icons/codeeditor/fa_th_large.png')
    else if extension == 'function'
      link(rel='icon', type='image/png', sizes='32x32', href='/images/icons/codeeditor/fa_cog.png')
    else if extension == 'object'
      link(rel='icon', type='image/png', sizes='32x32', href='/images/icons/codeeditor/laptop_code.png')             
    else
      link(rel='icon', type='image/png', sizes='32x32', href='/images/icons/codeeditor/favicon-32x32.png')
    title #{filetitle}
    include ../../headers_links.jade
  body.app-content.content.container-fluid
    include ../../components/InputElements.jade
    include ../../modal.jade
    style(type='text/css', media='screen').

          #editor {
             margin: 0px;
          }
          



    script.
        var editor; 
        var resultViewer;
    
    
    include editor_toolbar.jade                                            
                              

    ul.nav.nav-tabs
          li.nav-item
              a.nav-link.active(data-toggle="tab", href="#home") #{name}
    .tab-content.px-0.pt-0
         .tab-pane.active#home
              pre#editor(style='border-color: #ffffff; border: 10px')
                | !{content}

    script(src='/ace/ace.js', type='text/javascript', charset='utf-8')
    script(src='/ace/ext-modelist.js', type='text/javascript', charset='utf-8')
    script(src='ace/ext-language_tools.js' type='text/javascript' , charset='utf-8')
    script(src='/scripts/html2jade/he.js', type='text/javascript', charset='utf-8')
    script(src='/scripts/html2jade/html2jade.js', type='text/javascript', charset='utf-8')



    script.
            editor = ace.edit("editor");    
            editor.setTheme("ace/theme/tomorrow");    
              var modelist = ace.require("ace/ext/modelist");
              var filePath = "some.#{filetype}";
              var mode = modelist.getModeForPath(filePath).mode;
            editor.session.setMode(mode); 




    script.
              editor.setOption("maxLines", 200);
              editor.setOption("minLines", 40);
              editor.setOption("autoScrollEditorIntoView",false);
              document.getElementById('editor').style.fontSize='12px';       
     

    include ../../scripts.jade          
    include ../../scripts/loadContainerQuery.jade  
    include ../../scripts/custom_scripts.jade

    include scripts/saveObjectCode.jade
    include scripts/saveFunctionCode.jade
    include scripts/saveDbstoredCode.jade
    include scripts/saveScriptCode.jade
    include scripts/saveAdminViewsCode.jade
    include scripts/saveCustomViewsCode.jade
    include scripts/saveCustomWebAssetsCode.jade
    include scripts/convertToJade.jade 
   

    script.
      $(window).bind('keydown', function(event) {
          if (event.ctrlKey || event.metaKey) {
              switch (String.fromCharCode(event.which).toLowerCase()) {
              case 's':
                  event.preventDefault();
                  $( "#savebutton" ).click();
                  break;
              case 'r':
                  event.preventDefault();
                  $( "#runbutton" ).click();
                  break;
              case 'g':
                  event.preventDefault();
                  alert('ctrl-g');
                  break;
              }
          }
      });